<ion-header>
  <ion-toolbar>
    <ion-title>
      Doctors App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Appointments
    </ion-list-header>

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h1>
          <ion-icon name="person"></ion-icon> {{booking.name}}
        </h1>
        <p>
          <ion-icon name="call"></ion-icon> {{booking.mobile}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <ion-button fill='clear' [routerLink]="'/edit-appointment/' + booking.$key">
          <ion-icon name="create" style="zoom:1.2"></ion-icon>
        </ion-button>
        <ion-button fill='clear' (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:1.2" color='danger'></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>